$border-radiuss: 50px;

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat"),
   url(@/assets/fonts/Montserrat.ttf) format("truetype");
}

* {
  font-family: 'Montserrat', 'Roboto', Verdana, sans-serif !important;
  font-weight: 500;

  a {
    text-decoration: none;
  }
}

ion-progress-bar {
  --progress-background: var(--progress-bar-color);
  --background: var(--progress-bar-track-color);
  border-radius: 10px;
  height: 5px;

}

ion-checkbox {
  --size: 18px;
  --checkbox-background: transparent;
  --checkbox-background-checked: transparent;
}

ion-checkbox::part(container) {
  border-radius: 3px;
  border: 1px solid #ababaa;
}

/* grid overrides */
ion-grid {
  --ion-grid-width-xl: 1250px;
  // --ion-grid-width-lg: 1250px;
  // --ion-grid-width-md: 1250px;
}

// ion-button {
//   --background: #23242f !important;
//   --border-radius: $border-radius !important;
// }