$border-radiuss: 50px;

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat"),
   url(@/assets/fonts/Montserrat.ttf) format("truetype");
}

* {
  font-family: 'Montserrat', 'Roboto', Verdana, sans-serif !important;
  font-weight: 500;

  a {
    text-decoration: none;
  }
}

ion-progress-bar {
  --progress-background: var(--progress-bar-color);
  --background: var(--progress-bar-track-color);
  border-radius: 10px;
  height: 5px;

}

ion-checkbox {
  --size: 18px;
  --checkbox-background: transparent;
  --checkbox-background-checked: transparent;
}

ion-checkbox::part(container) {
  border-radius: 3px;
  border: 1px solid #ababaa;
}

/* grid overrides */
ion-grid {
  --ion-grid-width-xl: 1800px;
  --ion-grid-md: 98%;
  --ion-grid-width: 100%
}

ion-button {
//   --background: #23242f !important;
//   --border-radius: $border-radius !important;
  --background: white;
// --ripple-color: black !important;

  --background-hover: #3673da !important;
  --background-hover-opacity: 0.3;
  --color-hover: white !important;
}

ion-searchbar {
  --border-radius: 30px !important;
}